  .singlemonth .monthName {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .singlemonth .dayName {
    font-size: 16px;
    color: lightcoral;
  }

  .singlemonth .month {
    width: 280px;
  }

  .singlemonth .day-list > a div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .changemonth {
      display: flex;
      justify-content: space-between;
  }

  .changemonth button {
      color: red;
      border: 1px solid grey;
      cursor: pointer;
  }