* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.month{
    display: flex;
    flex-direction: column;
    width: 140px;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
}

.month-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.month-list > div {
    width: 22%;
}

.cell {
   text-align: center;
   font-size: 12px;
}

.grey {
    background: gainsboro;
    color: grey;
    border: 1px solid lightgray;
}
.red {
    background: rgb(145, 143, 143);
    color: white;
    border: 1px solid gray;
  }
.monthName {
    color: lightcoral;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
  }

.monthName:hover {
    color: red;
}
